form p {
	padding:10px 0;
	font-size:14px;
	color:#383836;
	margin-bottom:0;
}

form p:before,
form p:after {
    content: "";
    display: table;
}

form p:after {
    clear: both;
}

.jqTransformHidden {
	display:none;
}

.buttons {
	padding-top:20px;
}

.button {
	background:#7597ab;
	font-weight:bold;
	font-size:22px;
	text-decoration:none;
	border:none;
	text-align:center;
	cursor:pointer;
	height:45px;
	line-height:45px;
	padding:0 30px;
	color:#e8f6fe;
	text-transform:uppercase;
}

.button:hover {
	background:#86aec5;
	text-decoration:none;
}

.req {
	color:#FF0000;
}

.input-field {
	background:#f8f8f4;
	border: 1px solid #bdbdb3;
	padding:6px 5px;
	font-size:14px;
	width:230px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.area {
	background: url(../images/input_field.png) repeat-x #bbb7aa;
	border: none;
	padding:7px;
	width:625px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rss-mod-field {
	font-size:11px;
	line-height:12px;
	color:#4c4c4c;
	background:#ebebeb;
	border:none;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:8px 9px;
	width:139px;
	float:left;
	margin-right:7px;
}

.rss-mod-btn {
	width:26px;
	height:26px;
	line-height:22px;
	background: #FFFFFF;
	color:#121212;
	font-size:11px;
	border:2px solid #ed1c24;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.rss-mod-btn:hover {
	background:#ed1c24;
	color:#FFFFFF;
}

.mirror-buttons-1 {
	display:inline-block;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	border:3px solid #FFFFFF;
	color:#FFFFFF;
	height:40px;
	line-height:40px;
	padding:0 20px;
	-webkit-transition: all .2s ease-in-out; 
	-moz-transition: all .2s ease-in-out; 
	-khtml-transition: all .2s ease-in-out; 
	-o-transition: all .2s ease-in-out; 
	-ms-transition: all .2s ease-in-out; 
	transition: all .2s ease-in-out;
	position: relative;
}

.mrb-1-left {
	-webkit-border-radius: 40px 0 0 40px;
	-moz-border-radius: 40px 0 0 40px;
	border-radius: 40px 0 0 40px;
	margin-right:-3px;
}

.mrb-1-right {
	-webkit-border-radius: 0 40px 40px 0;
	-moz-border-radius: 0 40px 40px 0;
	border-radius: 0 40px 40px 0;
}

.mrb-wbuy {
	padding-right:50px;
}

.mirror-buttons-1:hover {
	border-color:#2d2d2d;
	color:#2d2d2d;
	text-decoration:none;
	z-index:1;
}

.mirror-buttons-1 .buy-cart {
	width:27px;
	height:24px;
	display:block;
	position:absolute;
	right:15px;
	top:4px;
}

.mirror-buttons-1 .buy-cart .str1 {stroke:#FFFFFF;stroke-width:1.4868}
.mirror-buttons-1 .buy-cart .str0 {stroke:#FFFFFF;stroke-width:4.46041}
.mirror-buttons-1 .buy-cart .fil1 {fill:none}
.mirror-buttons-1 .buy-cart .fil0 {fill:#FFFFFF;fill-rule:nonzero}

.mirror-buttons-1:hover .buy-cart .str1 {stroke:#2d2d2d;}
.mirror-buttons-1:hover .buy-cart .str0 {stroke:#2d2d2d;}
.mirror-buttons-1:hover .buy-cart .fil0 {fill:#2d2d2d;}

.buy-btn-1 {
	border:none;
	cursor:pointer;
	width:60px;
	height:30px;
	line-height:30px;
	padding:0 15px;
	font-size:12px;
	color:#232323;
	position:relative;
	display:inline-block;
	vertical-align:middle;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:left;
	z-index:1;
	overflow:hidden;
	-webkit-transition: all .3s ease-in-out; 
	-moz-transition: all .3s ease-in-out; 
	-khtml-transition: all .3s ease-in-out; 
	-o-transition: all .3s ease-in-out; 
	-ms-transition: all .3s ease-in-out; 
	transition: all .3s ease-in-out;
}

.buy-btn-1::before,
.buy-btn-1::after {
	content:"";
	display:block;
	position:absolute;
	right:0;
	top:0;
	height:30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	z-index:-1;
	-webkit-transition: all .3s ease-in-out; 
	-moz-transition: all .3s ease-in-out; 
	-khtml-transition: all .3s ease-in-out; 
	-o-transition: all .3s ease-in-out; 
	-ms-transition: all .3s ease-in-out; 
	transition: all .3s ease-in-out;
}

.buy-btn-1::before {
	background:#dcdcdc;
	width:100%;
}

.buy-btn-1::after {
	background:#ed1c24;
	width:0;
}

.buy-btn-1:hover {
	text-decoration:none;
	color:#FFFFFF;
}

.buy-btn-1:hover::after {
	width:100%;
}

.buy-btn-1 span {
	position:absolute;
	top:2px;
	right:10px;
	width:22px;
	height:21px;
}

.buy-btn-1 .str1 {stroke:#2d2d2d;stroke-width:1.4868}
.buy-btn-1 .str0 {stroke:#2d2d2d;stroke-width:4.46041}
.buy-btn-1 .fil1 {fill:none}
.buy-btn-1 .fil0 {fill:#2d2d2d;fill-rule:nonzero}

.buy-btn-1:hover .str1 {stroke:#ffffff;}
.buy-btn-1:hover .str0 {stroke:#ffffff;}
.buy-btn-1:hover .fil0 {fill:#ffffff;}

a.red-bbtn,
.red-bbtn {
	font-weight:700;
	color:#212121;
	display:inline-block;
	border:2px solid #ed1c24;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:0 17px;
	text-align:center;
	cursor:pointer;
	font-family: 'PT Sans', sans-serif;
	text-decoration:none;
	text-transform:none;
	position: relative;
	overflow:hidden;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.red-bbtn:hover,
.red-bbtn:hover {
	color:#FFFFFF;
	text-decoration:none;
	background:#ed1c24;
}

.red-bbtn::before {
	content:"";
	display:block;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	-webkit-transition: all .3s ease-in-out; 
	-moz-transition: all .3s ease-in-out; 
	-khtml-transition: all .3s ease-in-out; 
	-o-transition: all .3s ease-in-out; 
	-ms-transition: all .3s ease-in-out; 
	transition: all .3s ease-in-out;
	z-index:-1;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.red-bbtn::before {
	background:#ed1c24;
	width:0;
}

.red-bbtn:hover::before {
	width:100%;
}

.rbbn-small {
	height:34px;
	line-height:29px;
	font-size:12px;
}

.red-bbtn-big {
	font-size:14px;
	font-weight:bold;
	height:44px;
	line-height:40px;
}

.rbbn-arrow {
	display:inline-block;
	vertical-align:middle;
	width:18px;
	height:10px;
	line-height:10px;
	padding:6px 0;
	margin-left:7px;
}

.rbbn-arrow path {
	-webkit-transition: all .3s ease-in-out; 
	-moz-transition: all .3s ease-in-out; 
	-khtml-transition: all .3s ease-in-out; 
	-o-transition: all .3s ease-in-out; 
	-ms-transition: all .3s ease-in-out; 
	transition: all .3s ease-in-out;
}

.rbbn-arrow .str0 {stroke:#2B2A29;stroke-width:6.71429}
.rbbn-arrow .fil0 {fill:none}

.red-bbtn:hover .rbbn-arrow .str0 {stroke:#ffffff;}

.wbl-btn-cntrl,
.wbl-btn-cntrl2 {
	position:absolute;
	right:0;
	display:inline-block;
	padding-left:7px;
	background:#f7f9f9;
	z-index:1;
}

.wbl-btn-cntrl {
	top:15px;
}

.wbl-btn-cntrl2 {
	top:20px;
}

/* widht ctrl */

.w100 {
	width:100%;
}